# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*/*.iml
*.xml
out
gen
target/
/.classpath
/.project
bin/
.settings/
.factorypath
